<div class="container-fluid shadow p-5">
  <h1>@<%= current_user.nickname %></h1>
  <%= image_tag current_user.photo, size: "500x500" %>
  <div id="evidence-rand" >
    <h1 style="height: auto;">My Profile</h1>
  </div>
  <% if @invites.count > 0 %>
    <h1 style="height: auto;">You have <%= @invites.count %> Invites </h3>
  <% end %>
  <% if @invites.count.positive? %>
  <div class="card-invite">
    <div class="card-body">
      <% @invites.each do |invite| %>
        <div class="my-3 d-flex align-items-center justify-content-between">
          <p class="card-text">
            @<%= "#{invite.inviter.nickname} has invited you to #{invite.challenge.name} Challenge" %>
          </p>
          <div>
            <div style="display: inline-block;">
              <%= simple_form_for invite, url: invite_path(invite) do |f| %>
                <%= f.hidden_field :status, value: "Accepted" %>
                <%= f.submit "Accept", class: "btn btn-outline-light" %>
              <% end %>
            </div>
            <div style="display: inline-block;">
              <%= simple_form_for invite, url: invite_path(invite) do |f| %>
                <%= f.hidden_field :status, value: "Declined" %>
                <%= f.submit "Decline", class: "btn btn-warning" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
