<div class="container-fluid shadow p-5">
  <div class="row d-flex">
    <div class="col-8 d-flex justify-content-end">
      <div class="w-50">
        <div id="profile-rand" class="d-flex justify-content-start">
          <div class="w-100">
            <h4>@<%= current_user.nickname %></h4>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="height:40vh;">
          <% if current_user.photo.attached? %>
            <%= image_tag current_user.photo, size: "500x500", style: "border-radius: 50%; width: 200px; height: 200px;" %>
            <% else %>
            <%= image_tag "avatar.jpg", size: "500x500", style: "border-radius: 50%; width: 200px; height: 200px;" %>
            <% end %>
        </div>
      </div>
      <div>
        <div style="width: 10vw;">
          <h1 style="height: auto;">My Profile</h1>
        </div>
      </div>
    </div>

    <div class="col-4"></div>
  </div>

  <% if @invites.count.positive? %>
  <div class="card-invite">
    <div class="card-body">
      <% @invites.each do |invite| %>
        <div class="my-3 d-flex align-items-center justify-content-between">
          <p class="card-text">
            @<%= "#{invite.inviter.nickname} has invited you to #{invite.challenge.name} Challenge" %>
          </p>
          <div>
            <div style="display: inline-block;">
              <%= simple_form_for invite, url: invite_path(invite) do |f| %>
                <%= f.hidden_field :status, value: "Accepted" %>
                <%= f.submit "Accept", class: "btn btn-outline-light" %>
              <% end %>
            </div>
            <div style="display: inline-block;">
              <%= simple_form_for invite, url: invite_path(invite) do |f| %>
                <%= f.hidden_field :status, value: "Declined" %>
                <%= f.submit "Decline", class: "btn btn-warning" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else  %>
  <div class="card-invite">
    <div class="card-body">
      <div id="profile-rand">
        <h4 class="text-center" style="height: auto;">You have <%= @invites.count %> invites </h4>
      </div>
    </div>
  </div>
  <% end %>
</div>
