<div class="container-fluid shadow p-5">

  <h1>My Profile</h1>

  <h2><%= current_user.nickname %></h2>

  <h3>My Challenges:</h3>
  <ul>
    <% current_user.challenges.each do |challenge| %>
      <li><%= challenge.name %></li>
    <% end %>
  </ul>

  <h3>You have <%= @invites.count %> invites pending:</h3>

  <div class="card-invite mb-3">
    <div class="card-body">
      <% @invites.each do |invite| %>
        <div class="mb-3">
          <h5 class="card-title">From: <%= invite.inviter.nickname %></h5>
          <p class="card-text">To: <%= current_user.nickname %></p>
          <p class="card-text">Join my challenge: <%= invite.challenge.name %></p>

          <div class="d-flex justify-content-end"> <!-- Alineación a la derecha usando flexbox -->
            <%= simple_form_for invite, url: invite_path(invite), html: { class: "d-inline-block mr-2" } do |f| %>
              <%= f.hidden_field :status, value: "Accepted" %>
              <%= f.submit "Accept", class: "btn btn-primary btn-sm" %>
            <% end %>

            <%= simple_form_for invite, url: invite_path(invite), html: { class: "d-inline-block" } do |f| %>
              <%= f.hidden_field :status, value: "Declined" %>
              <%= f.submit "Decline", class: "btn btn-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>



<%# pendiente colocar botones par aceptar / delcinar invitacion %>
