<div class="container p-4 d-flex justify-content-center">
  <div class="shadow-lg border border-light">
    <div class="m-3">
      <h1>Buddies Evidences</h1>
        <%= @challenge_infos.each do |challenge_info| %>
        <p><strong>Activity:</strong> <%= challenge_info.activity %></p>
        <p><strong>Time Length (minutes):</strong> <%= challenge_info.time_length %></p>
        <p><strong>Description:</strong> <%= challenge_info.description %></p>
        <% if challenge_info.photo.attached? %>
          <p><strong>Photo:</strong></p>
          <%= image_tag challenge_info.photo %>
        <% else %>
          <p class="text-danger">No photo available</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "Edit Exercise Session", edit_exercise_session_path(challenge_info, @exercise_session), class: "btn btn-primary" %>
