<div class="container">
  <div class="p-4 d-flex justify-content-center">
    <div class="card card-exercise-session-show">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start mb-3">
          <div>
            <h2 class="exercise-title text-white"><%= @challenge_info.activity %></h2>
            <h3 class="exercise-subtitle text-white"><%= @challenge_info.time_length %> min</h3>
          </div>
          <div>
            <% if current_user.photo.attached? %>
              <%= image_tag current_user.photo, size: "200x200", style: "border-radius: 50%; width: 70px; height: 70px;" %>
            <% else %>
              <%= image_tag "avatar.jpg", size: "200x200", style: "border-radius: 50%; width: 70px; height: 70px;" %>
            <% end %>
          </div>
        </div>
        <p class="exercise-description text-white"><%= @challenge_info.description %></p>
      </div>
      <div class="row no-gutters mx-2">
        <div class="col-md-12">
          <% if @challenge_info.photo.attached? %>
            <%= image_tag @challenge_info.photo, class: "exercise-image card-img-top mb-3", style: "height: 300px; object-fit: cover; border-radius: 10px;" %>
          <% else %>
            <div class="exercise-image-placeholder text-center">
              <p class="text-danger mt-3">No photo available</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <%= link_to "Add comment", new_exercise_session_exercise_comment_path(@exercise_session), class: "btn btn-warning" %>
      <%= link_to "Go back to challenge", challenge_path(@exercise_session.challenge_info.challenge), class: "btn btn-warning" %>
    </div>
  </div>
</div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ul class="list-group comments-list">
          <% @exercise_session.exercise_comments.each do |exercise_comment| %>
            <li class="list-group-item comment-item row d-flex">
              <div class="col-10">
                <div class="d-flex">
                  <p class="me-3"><strong><%= exercise_comment.user.nickname %></strong></p>
                  <p><%= exercise_comment.comments %></p>
                </div>
              </div>
              <div class="col-2">
                <% if policy(exercise_comment).update? %>
                  <div class="d-flex justify-content-end">
                    <div class="edit-buttons d-flex">
                      <%= link_to "Edit", edit_exercise_session_exercise_comment_path(@exercise_session, exercise_comment), class: "btn btn-warning btn-sm me-3" %>
                      <%= button_to exercise_comment_path(exercise_comment), method: :delete, class: "btn btn-warning btn-sm mr-2", data: { confirm: "Are you sure?" } do %>
                        <i class="fa-solid fa-trash"></i>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
</div>
