<div class="container">
  <div class="p-4 d-flex justify-content-center">
    <div class="card" style="max-width: 400px;">
      <div class="card-body">
        <h2 class="card-title"><%= @challenge_info.activity %></h2>
        <h3 class="card-subtitle mb-2 text-muted"><%= @challenge_info.time_length %> min</h3>
        <p class="card-text"><strong>Description:</strong> <%= @challenge_info.description %></p>
      </div>
      <div class="row no-gutters">
        <div class="col-md-12">
          <% if @challenge_info.photo.attached? %>
            <%= image_tag @challenge_info.photo, class: "card-img-top", style: "height: 300px; object-fit: cover;" %>
          <% else %>
            <div class="text-center" style="height: 300px; background-color: #f8f9fa;">
              <p class="text-danger mt-3">No photo available</p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <%= link_to "Edit Exercise Session", edit_exercise_session_path(@challenge_info, @exercise_session), class: "btn btn-warning btn-block mb-3" %>
        <ul class="list-group">
          <% @exercise_session.exercise_comments.each do |exercise_comment| %>
            <li class="list-group-item">
              <p><strong>User:</strong> <%= exercise_comment.user.nickname %></p>
              <p><strong>Comment ID:</strong> <%= exercise_comment.id %></p>
              <p><strong>Comment:</strong> <%= exercise_comment.comments %></p>
              <% if policy(exercise_comment).update? %>
                <%= link_to "Edit comment", edit_exercise_session_exercise_comment_path(@exercise_session, exercise_comment), class: "btn btn-warning mr-2" %>
                <%= button_to "Delete comment", exercise_comment_path(exercise_comment), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= link_to "Add comment", new_exercise_session_exercise_comment_path(@exercise_session), class: "btn btn-warning btn-block mt-3" %>
      </div>
    </div>
  </div>
</div>
