<div class="container">
<h1>this is an exercise session</h1>

<div class="container p-4 d-flex justify-content-center">
  <div class="shadow-lg border border-light">
    <div class="m-3">
      <h1>Evidence Details</h1>
      <p><strong>Activity:</strong> <%= @challenge_info.activity %></p>
      <p><strong>Time Length (minutes):</strong> <%= @challenge_info.time_length %></p>
      <p><strong>Description:</strong> <%= @challenge_info.description %></p>
      <% if @challenge_info.photo.attached? %>
        <p><strong>Photo:</strong></p>
        <%= image_tag @challenge_info.photo %>
      <% else %>
        <p class="text-danger">No photo available</p>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "Edit Exercise Session", edit_exercise_session_path(@challenge_info, @exercise_session), class: "btn btn-primary" %>



<ul class="list-group">
<% @exercise_session.exercise_comments.each do |exercise_comment| %>
<p><%= exercise_comment.user.nickname%></p>
<p><%= exercise_comment.id %></p>

<li class="list-group-item"><%= exercise_comment.comments %></li>

  <% if policy(exercise_comment).update?  %>
  <%= link_to "Edit comment", edit_exercise_session_exercise_comment_path(@exercise_session, exercise_comment), class:"btn btn-primary"%>
  <%= button_to "Delete comment", exercise_comment_path(exercise_comment), class: "btn btn-outline-danger", method: :delete %>
  <% end %>

<% end %>
</ul>

<%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  add comment modal
</button> %>

<%# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Write a comment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> %>
<%= link_to "add comment", new_exercise_session_exercise_comment_path(@exercise_session), class:"btn btn-primary"%>
</div>
