<div class="card-product">
  <% if challenge.activity == "Barre"%>
  <img src="<%= asset_path('Barre2.jpg') %>"  alt="women doing Barre pose">
  <% elsif challenge.activity == "Boxing" %>
  <img src="<%= asset_path('Boxing.jpg') %>"  alt="Woman jumping rope">
  <% elsif challenge.activity == "Weight Lifting" %>
  <img src="<%= asset_path('Weightlifting.jpg') %>"  alt="woman exercising">
  <% elsif challenge.activity == "Pilates" %>
  <img src="<%= asset_path('Pilates2.jpg') %>"  alt="woman exercising">
  <% elsif challenge.activity == "Crossfit" %>
  <img src="<%= asset_path('Crossfit.jpg') %>"  alt="woman exercising">
  <% elsif challenge.activity == "Running" %>
  <img src="<%= asset_path('Running.jpg') %>"  alt="woman exercising">
  <% elsif challenge.activity == "Indoor Cycling" %>
  <img src="<%= asset_path('Cycling.jpg') %>"  alt="woman exercising">
  <% elsif challenge.activity == "Swimming" %>
  <img src="<%= asset_path('Swimming2.jpg') %>"  alt="woman exercising">
  <% elsif challenge.activity == "Open" %>
  <img src="<%= asset_path('Open.jpg') %>"  alt="woman exercising">
  <% end %>
  <div class="card-product-infos">
    <div class="name">
      <h2><%= challenge.name %> Challenge</h2>
    </div>
    <div class="info">
      <div class="attributes">
        <h3><%= challenge.activity %></h3>
        <h3><%= challenge.status %></h3>
      </div>
      <div class="duration">
      <% final = challenge.end_date.split("-").map(&:to_i) %>
    <% start = challenge.start_date.split("-").map(&:to_i) %>
    <% duration = (Date.new(final[0],final[1],final[2])-Date.new(start[0],start[1],start[2])).to_i %>
        <h2 id="number"><%= duration %></h2>
        <p>days</p>
      </div>
    </div>
    <div id="days">
      <div class="dates">
        <p>Starts</p>
        <p><%= challenge.start_date %></p>
      </div>
      <div class="dates">
        <p>Ends</p>
        <p><%= challenge.end_date %></p>
      </div>
      <%= link_to "GO",challenge_path(challenge), class:"go" %>
    </div>
  </div>
</div>
