<div class="container">

  <%= render "card" %>

<%= link_to  %>
<%= button_to "Delete Challenge", @challenge, class: "btn btn-outline-danger", method: :delete if policy(@challenge).destroy? %>

<div class="row">
  <h2>Members</h2>

  <div class="d-flex p-3" >
    <% @challenge.challenge_infos.where(user_status: "active").each do |challenge_info| %>
      <%= render "avatars" %>
    <% end %>
  </div>
</div>

<div class="container">

  <p>Score</p>
  <% @challenge.challenge_infos.where(user_status: "active").each do |challenge_info| %>
  <ul>
    <li><%= challenge_info.user.nickname%> Score: <%= challenge_info.user_score %> <%# <%= cl_image_tag challenge_info.user.photo.key, class:"height: 50px", id:"img-card"%></li>
  </ul>
  <% end %>
</div>

<%= simple_form_for [@challenge, @invite] do |f| %>
  <%# <%= f.input :invitee, collection: User.where.not(id: @challenge.users.select(:id)).map(&:nickname) %>
  <%= f.input :invitee_id,
              collection: User.where.not(id: @challenge.users.select(:id)).map { |user| [user.nickname, user.id] },
              label_method: :first, value_method: :second, label: 'Invitee' %>
  <%= f.submit %>
<% end %>
</div>
