<div class="challenge-display">
  <div class="challenge-display-cards d-flex justify-content-between">
    <div class="section-one">
      <div id="challenge-name">
        <h1><%= @challenge.name %></h1>
      </div>
        <div>
          <%= render "card" %>
        </div>
        <div>
          <%= render "buddies-card" %>
      </div>
    </div>
    <div class="section-two">
      <div class="background-section">
      <% if @cuser_evidence.nil? %>
        <div class="info-session">
          <h3>No Activity Yet</h3>
        </div>
        <% else %>
        <div class="info-session">
          <h3><%= @cuser_evidence.activity %></h3>
          <p><%= @cuser_evidence.time_length%> mins</p>
        </div>
        <%= cl_image_tag @cuser_evidence.photo.key, class:"img-section-evidence"%>
      <% end %>
      </div>
    </div>
  </div>

  <div class="challene-signs">
    <div class="card card-custom">
      <div class="card-body">
        <p>Invite your friends to join this challenge!</p>
        <%= simple_form_for [@challenge, @invite], html: { class: 'form-inline' } do |f| %>
          <div class="row">
            <div class="col-md-8">
              <%= f.input :invitee_id,
                          collection: User.where.not(id: @challenge.users.select(:id)).map { |user| [user.nickname, user.id] },
                          label: false,
                          include_blank: 'Select a buddy',
                          input_html: { class: 'form-control' } %>
            </div>
            <div class="col-md-4 text-md-right">
              <%= f.button :submit, "Invite your buddy", class: "btn btn-warning" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card card-evidence">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title mb-0">
            Your friends are <span class="card-title-yellow">working out</span>, what are <span class="card-title-yellow">you</span> doing?
          </h5>
        </div>
        <div class="d-flex align-items-center">
          <p class="evidence-text2">Add <span class="card-title-yellow">Today's</span> evidence!</p>
          <%= link_to "+", new_challenge_info_exercise_session_path(@user_challenge_info), class: "round-buton btn-evidence" %>
        </div>
      </div>
    </div>
  </div>

  <div id="evidence-rand" >
      <div>
        <h1 style="height: auto;">Buddies Today</h1>
      </div>
      <div id="evidence-display">
        <% @exercise_sessions.each do |session| %>
          <%= render "challenge-evidence", session: session %>
        <% end %>

      </div>
    </div>


</div>
