<h1><%= @challenge.name %></h1>

        <%= button_to "Delete Challenge", @challenge, class: "btn btn-outline-danger", method: :delete if policy(@challenge).destroy? %>

<% console %>
<p><%= @challenge.duration %></p>
<p><%= @challenge.challenge_type %></p>
<p><%= @challenge.activity %></p>
<p>Aqui tenemos el display de los miembros del challenge:</p>

<%# <% @challenge.users.each do |user| %>
  <%# <ul> %>
    <%# <li><%= user.nickname %></li>
    <%# <% if @challenge.user == current_user %>
    <%# <simple form for> %>
      <%# <input class='hidden' value= challenge_info_id> %>
      <%# <button class="submit">Delete user</button> esto redirige a challenge_infos#update %>
    <%# <% end %>
  <%# </ul> %>
<%# <% end %>
<ul>
<% @challenge.users.each do |user| %>
<li> <%= @user.nickname %></li>
<% end %>
</ul>
